*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
main{
    min-height: 100%;
    position: relative;
    top: 6%;
}
header{
    box-shadow: 4px 0px 10px 0px #2229;
    z-index: 9999999999;
    position: fixed;
    width: 100%;
    top: 0;
}
a{
    text-decoration: none;
}
header nav ul li.nav-item a.nav-link,
footer a{
    color: #309138;
}
header nav a.navbar-brand small,
footer a.navbar-brand small{
    color: #87e98f;
}
ul li{
    list-style: none;
}

.btn-cb{
    color: #fff;
    background: linear-gradient(90deg,#88b6d9 0%,#87ef87 100%);
    box-shadow: 0px 0px 1px 0px #222;
    border-radius: 3em;
}
.btn-cb:hover{
    transition: .6s;
    color: #fff;
    background: linear-gradient(90deg,#84bce8 0%,#7adf7a 100%);
}
#bot{
    width: 3%;
    height: 5%;
    background: #fff;
    position: absolute;
    left: 95%;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#bot:hover{
    transition: .6s;
    box-shadow: 1px 2px 4px 1px #2229;
}
#bot_description{
    border-radius: 0;
    top: 6.4%;
    bottom: 0;
    left: 75.5%;
    z-index: 99999;
}
#bot_strategy{
    overflow: auto;
    position: relative;
    background: #e1ebff;
    width: 75.5%;
    height: 100vh;
}
#bot_description{
    overflow: auto;
}
.bot{
    width: 22%;
    background-color: #fff;
}
.bot button{
    padding: 0.2em;
}
.bot-active{
    border: solid 0.15em rgb(249 129 0) !important;
}
.bot-dialog{
    position: relative;
    top: 0%;
    left: 20%;
}
.bot .bot-footer{
    background-color: #6262628c;
    margin-top: 2em;
    border-radius: 0.3em;
}
.bot .bot-footer button{
    background: #62d7ac!important;
    color: #fff;
    border-radius: 0.2em;
}
#inputChainButtonGroupContainer{
    background-color: #f9f9f9;
    padding: 0.6em;
}

iframe{
    width: 100%;
    height: 26em;
}
#opportunity{
    background: linear-gradient(90deg,#88b6d9 0%,#87ef87 100%);
    border-radius: 1em;
}

#bot_saving{
    width: 9em;
    position: absolute;
    left: 90%;
    top: 85%;
}

/* Отступы */
.mt-10{
    margin-top: 10em;
}