{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">
        <div class="mbs">
            <h2>Ваши боты</h2>
            {% for bot in KEY %}
                <div class="card mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item">
                            <a href='/bot/my_bots/details?id={{ bot.id }}'>{{ bot.id }}</a>
                        </li>
                        <li class="list-group-item">{{ bot.hash_name }}</li>
                        <li class="list-group-item">{{ 'Заглушка даты' }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}